snippet ici "include iostream"
#include <iostream>
endsnippet

snippet icv "include vector"
#include <vector>
endsnippet

snippet unst "using std"
using namespace std;
endsnippet

snippet fori "for i"
for (int i = $1; i < $2; $3) {
}
endsnippet

snippet main "main" 
int main() {
}
endsnippet
