snippet forin "for~in"
for (let $1 in $2) {
}
endsnippet
snippet forof "for~of"
for (const $1 of $2) {
}
endsnippet
snippet log "console.log"
console.log($1)
endsnippet
snippet fn "function"
function $1() {
}
endsnippet
