snippet s_mermaid "mermaid"
\`\`\`mermaid
erDiagram
$1
\`\`\`
endsnippet

snippet s_one_to_zeroormore "one to zero or more" 
${1:one} ||--o{ ${2:many}: "${3:comment}"
endsnippet

snippet s_one_to_many "one to many" 
${1:one} ||--|{ ${2:many}: "${3:comment}"
endsnippet

snippet s_dashed_line "dashed line" 
..
endsnippet

snippet s_table "table"
${1:table_name} {
	${2:type} ${3:column_name} "${4:comment}"
}
endsnippet
