snippet cr "CREWATE TABLE"
CREATE TABLE $1 (
);
endsnippet
snippet in "INSERT INTO"
INSERT INTO $1 (
) VALUES(
);
endsnippet
snippet up "UPDATE"
UPDATE $1
SET
WHERE;
endsnippet
snippet dl "DELETE FROM"
DELETE FROM $1
WHERE;
endsnippet
