snippet s_create_table "CREATE TABLE"
CREATE TABLE $1 (
);
endsnippet
snippet s_insert_into "INSERT INTO"
INSERT INTO $1 (
) VALUES(
);
endsnippet
snippet s_update_set "UPDATE"
UPDATE $1
SET
WHERE;
endsnippet
snippet s_delete_from "DELETE FROM"
DELETE FROM $1
WHERE;
endsnippet
