snippet crtb "CREATE TABLE"
CREATE TABLE $1 (
);
endsnippet
snippet inst "INSERT INTO"
INSERT INTO $1 (
) VALUES(
);
endsnippet
snippet updt "UPDATE"
UPDATE $1
SET
WHERE;
endsnippet
snippet dlrw "DELETE FROM"
DELETE FROM $1
WHERE;
endsnippet
