snippet rtfc "ts-react-FC"
import React from 'react';

const $1: React.FC<> = () => {
};

export default $1;
endsnippet
snippet cf "const funtion"
const $1 = () => {
};
endsnippet
snippet sm "sample tag"
<>
</>
endsnippet
snippet ss "set state"
const [$1, set$2] = useState();
endsnippet
snippet uf "useEffect"
useEffect(() => {
}, []);
endsnippet
