extends javascript, typescriptreact

snippet s_process_env_type "declare global {..."
declare global {
  namespace NodeJS {
    interface ProcessEnv {
      $1: string;
    }
  }
}

export {}
endsnippet
