snippet s_for_in "for~in"
for (let $1 in $2) {
}
endsnippet

snippet s_for_const_of "for~of"
for (const $1 of $2) {
}
endsnippet

snippet s_console.log "console.log"
console.log("${1:Debug}"${2/..*/, /});
endsnippet

snippet d_const_function "arrow funtion"
const $1 = ($2) => {
	$3
}
endsnippet

